DbManager/Service References/ServiceReference1/Core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1579/Core.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADA" />
  <xs:import schemaLocation="http://localhost:1579/Core.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddDigitalInputTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:int" />
        <xs:element minOccurs="0" name="on" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDigitalInputTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDigitalInputTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDigitalOutputTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDigitalOutputTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDigitalOutputTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnalogInputTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:int" />
        <xs:element minOccurs="0" name="on" type="xs:boolean" />
        <xs:element minOccurs="0" name="low" type="xs:double" />
        <xs:element minOccurs="0" name="high" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnalogInputTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAnalogInputTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnalogOuputTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="initialValue" type="xs:double" />
        <xs:element minOccurs="0" name="low" type="xs:double" />
        <xs:element minOccurs="0" name="high" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnalogOuputTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAnalogOuputTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADA" minOccurs="0" name="tag" nillable="true" type="q1:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInitialValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ioAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInitialValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetInitialValueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCADA" minOccurs="0" name="GetTagsResult" nillable="true" type="q2:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInputTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInputTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SCADA" minOccurs="0" name="GetInputTagsResult" nillable="true" type="q3:ArrayOfInputTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsForTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsForTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SCADA" minOccurs="0" name="GetAlarmsForTagResult" nillable="true" type="q4:ArrayOfAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SCADA" minOccurs="0" name="GetAllAlarmsResult" nillable="true" type="q5:ArrayOfAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SCADA" minOccurs="0" name="GetOutputTagsResult" nillable="true" type="q6:ArrayOfOutputTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputTagAddressesAndValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputTagAddressesAndValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOutputTagAddressesAndValuesResult" nillable="true" type="q7:ArrayOfKeyValueOfstringdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanOnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScanOnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanOffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ScanOffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alarmId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="triggerValue" type="xs:double" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAlarmResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="alarmId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveAlarmResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="admin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LogInResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="emptyDb">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="emptyDbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emptyDbResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>