ReportManager/Service References/ServiceReference1/ReportManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1579/ReportManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AlarmsInPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="low" type="xs:dateTime" />
        <xs:element minOccurs="0" name="high" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmsInPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="AlarmsInPeriodResult" nillable="true" type="q1:ArrayOfTupleOfstringdoubleintdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmsByPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlarmsByPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="AlarmsByPriorityResult" nillable="true" type="q2:ArrayOfTupleOfstringdoubleintdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagsInPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="low" type="xs:dateTime" />
        <xs:element minOccurs="0" name="high" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagsInPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="TagsInPeriodResult" nillable="true" type="q3:ArrayOfTupleOfdoubledateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalogInputValuesReport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalogInputValuesReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="AnalogInputValuesReportResult" nillable="true" type="q4:ArrayOfTupleOfdoubledateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DigitalInputValuesReport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DigitalInputValuesReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="DigitalInputValuesReportResult" nillable="true" type="q5:ArrayOfTupleOfdoubledateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportByTagId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportByTagIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ReportByTagIdResult" nillable="true" type="q6:ArrayOfTupleOfdoubledateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>