AlarmDisplay/Service References/ServiceReference1/AlarmDisplayService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="alarmId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="criticalValue" type="xs:double" />
      <xs:element minOccurs="0" name="priority" type="xs:int" />
      <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tagValue" type="xs:double" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
</xs:schema>